#miniHeader {
  height: 60px;
  background: rgba(51, 51, 51, 1);
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  z-index: 10000;
}
#mini_logo_img {
  height: 80px;
}
.minibtnctr {
  font-size: 14px;
  color: #fff;
  border-right: 1px solid #e5e5e56c;
  text-decoration: none;
  padding: 19px;
  background-color: rgba(51, 51, 51, 1);
}
.minibtnctr:hover {
  color: #e64c65;
  background-color: #505050;
}
.minisearchbox {
  /* padding: 5px; */
  background-color: #000;
  border-radius: 25px;
  margin-top: 5px;
}
#mnsearch-input {
  margin: 5px;
  border: navajowhite;
  background-color: #000;
  color: white;
  border-radius: 25px 0 0 25px;
}
#mnsearch-input:focus {
  box-shadow: none;
}
#mnsearch-input::placeholder {
  color: white;
}
#minisearch-input {
  margin: 5px;
  border: navajowhite;
  background-color: #000;
  color: white;
  border-radius: 25px 0 0 25px;
}
#minisearch-input:focus {
  box-shadow: none;
}
#minisearch-input::placeholder {
  color: white;
}
.minibgcart {
  background-color: #e64c65;
  border-bottom: 4px solid rgb(136, 47, 62);
}
.minicartbtn {
  max-width: 100%;
  height: 60px;
  color: #fff;
  background-color: #e64c65 !important;
  border-color: #e64c65 !important;
}
.minicartbtn::after {
  display: inline-block;
  margin-left: 0 !important;
  vertical-align: 0 !important;
  content: none !important;
  border: 0 !important;
}
.minicartbtn:active {
  color: #fff;
  background-color: #e64c65;
  border-color: #e64c65;
}
.miniicondd {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 10px 10px 8px;
}
.miniicondd::after {
  border: 7px solid transparent;
  border-top: 7px solid #ffffff;
  content: "";
  bottom: 0px;
  position: absolute;
  left: 42%;
}
